<div id="<%= dom_id tweet %>" class="px-4">
  <% num = rand(34..167)%>
  <p><span class="fw-bold"><%= tweet.username %></span> <span class="username"> @<%= tweet.username %><%=num%>_</span></p>
  <p>
    <%= tweet.description %>
  </p>

</div>
