<div id="fake-container">
  <div class="row">
    <div class="col-3 px-5 mycol">
      <p style="color: green"><%= notice %></p>
        <!--TWITTER LOGO-->
        <svg version="1.1" id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 248 204" style="enable-background:new 0 0 248 204;" xml:space="preserve" width="2.5em" height="2.5em" class="mt-2 mb-3">
        <style type="text/css">
          .st0 {
            fill: #FFFFFF;
          }
        </style>
        <g id="Logo_1_">
          <path id="white_background" class="st0"
            d="M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04
        C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66
        c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64
        c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76
        c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26
        c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z" />
        </g>
      </svg>
      <!--TWITTER LOGO-->

      <ul class="twitter-list mt-5">
        <div class="lgroup">
          <%= link_to root_path do %>
            <li class="pb-4"><i class="bi bi-house-fill me-3"></i><span class="fw-bold fs-5">Inicio</span></li>
          <%end%>
        </div>

        <li class="pb-4 diss"><i class="bi bi-bell-fill me-3"></i><span class="fw-bold fs-5">Notificaciones</span></li>
        <li class="pb-4 diss"><i class="bi bi-bookmark-fill me-3"></i><span class="fw-bold fs-5">Guardados</span></li>

        <div class="lgroup">
          <%= link_to "https://github.com/kotoykm" do %>
            <li class="pb-4"><i class="bi bi-github me-3"></i><span class="fw-bold fs-5">Github</span></li>
          <%end%>
        </div>      
      </ul>
      <%= link_to "Twittear", new_tweet_path, class: "btn btn-light btntwitter w-100 py-3 fs-5 fw-bold text-white shame" %>
      

    </div>
    
    <div class="col-6 mx-0 px-0">
      <div id="tweets">

        <% if @tweets.count > 0 %>
        <div>
          <h2 class="border-bottom border-start border-end py-4 px-4 fw-bold my-0">Twitter Clone - Inicio</h2>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center w-100 border-bottom border-start border-end py-3">
          <%==raw pagy_bootstrap_nav(@pagy) %>
        </div>
        
        
          <% @tweets.each do |tweet| %>
            <div class="border-bottom border-start border-end py-4 mt-0">
              <%= render tweet %>
              <span class="px-4"><i class="bi bi-eye"></i><%= link_to " Ver más", tweet %></span>
            </div>
          <% end %>
          <div class="d-flex flex-column align-items-center justify-content-center w-100 border-start border-end border-bottom py-3">
            <%==raw pagy_bootstrap_nav(@pagy) %>
          </div>
          <%else%>
            <div>
              <h2 class="border-bottom py-4 px-4 fw-bold my-0">Twitter Clone - Inicio</h2>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center w-100 mt-5">
              <%= image_tag 'none.png' %>
              <h3 class="fw-bold w-50 text-center mt-4">No existen resultados para tu búsqueda</h3>
            </div>
        <%end%>
      </div>
    </div>

    <div class="col-3 mycol" id="col-end">
      <div>
        <div class="px-4 mt-3">
          <%= form_with url: tweets_path, method: :get do |form|%>
            <%= form.text_field :query_text, placeholder: "Busca en Twitter", value: params[:query_text], class: "form-control custom-search"%>
          <%end%>
            <hr>
            <p>Twitter Clone <br> Un desafío para <span class="fw-bold">INFORCAP</span> <br> Erick Rivera - 2023</p>
        </div>
      </div>
    </div>
  </div>
</div>


